.slider{
	.without{
		 padding-right:0px;
  		 padding-left: 0px;
		.backgirls{
		  background-repeat: none;
		  background-position:39%;
		  background-size:cover;
		  width:100%;
		  height: 510px;
		  background-image: url("../images/slider1.jpg");
		}
		.backgirls2{
			@extend .backgirls;
			background-image: url("../images/slider2.jpg");
		}
	}
}
