.fondo{
    background-image: url('../images/contact.jpg');
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height:400px;
}